/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #17ca80;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.workflow-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
}

.history-sec {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-title {
  margin-left: 7px;
  font-weight: bold;
  cursor: pointer;
}

.card-title-section {
  display: flex;
  align-items: center;
}

.conclusion {
  margin: 0 10px;
  font-size: 10px;
  font-weight: 600;
  color: gray;
}

.info-sec {
  display: flex;
  margin: 3px;
  align-items: center;
}

.info-sec div {
  padding: 2px;
  font-size: 13px;
  font-weight: bold;
  color: #b3b3b3;
}

.success-css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #17ca80;
  box-shadow: 0px 0px 9px 1px #17ca80;
  margin: 15px;
}

.failure-css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f47169;
  box-shadow: 0px 0px 9px 1px #f47169;
  margin: 15px;
}

.progress-css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbf00;
  box-shadow: 0px 0px 9px 1px #ffbf00;
  animation: glow 1.5s linear infinite alternate;
  margin: 15px;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 10px #ffbf00;
  }
}

.allworkflow-info {
  display: flex;  
  align-items: flex-start;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  border: 1px solid;
  padding: 20px;
  border-radius: 5px;
}

.commit-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divider {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #D3D3D3, transparent);
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#main-home {
  display: flex;
  justify-content: space-between;
}

#left {
  width: 80%;
  height: 100vh;
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#right {
  width: 80%;
  height: 100vh;
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.latest {
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 15px 50px rgba(0,0,0,0.35);
}

.home {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0,0,0,0.35);
}

.test-list {
  border-radius: 10px;
  margin: 10px 0 0 0;
  min-height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  margin-top: 50px;
  margin-bottom: 25px;
}

.run-info {
  width: 100%;
  padding: 20px 0 0 0;
}

.chart {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 220px;
  align-items: center;
}

.trends {
  width: 100%;
  min-height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 50px rgba(0,0,0,0.35);
  padding: 18px 0;
}

.details {
  border-radius: 10px;
  margin: 10px 0 0 0;
  min-height: 530px;
  overflow: scroll;
  overflow-x: hidden;
}

.history-row {
  display: flex;
  border: 1px solid;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.history-row .title {
  font-weight: bold;
}

.test-history {
  display: flex;
  flex-direction: column;
}

.test-run-history {
  width: 120px;
  display: flex;
  justify-content: space-between;  
}

.subTitle {
  font-size: 12px;
}

.sub {
  font-size: 12px;
  font-weight: bold;
  color: #B2B2B2;
}

.commit  {
  width: 300px;
}

.test-name {
  width: 300px;
}

#workflows-container {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  gap: 4rem;
}

.wf-history canvas {
  box-shadow: 0 15px 50px rgba(0,0,0,0.35) !important;
  border-radius: 10px;
  padding: 50px;
}

.navbar {
  padding: 1rem;
  display: flex;
}

.navbar div {
  margin: 0 10px;
  padding: 15px;
  background-color: #17ca80;
  border-radius: 10px;
  color: #fff;
}

.navbar div:hover {
  cursor: pointer;
  background-color: #2ecf8c;
}

@media (min-width: 600px){
  #workflows-container { 
      grid-template-columns: repeat(2, 1fr);
      max-width: 1200px;
  }
}

@media (min-width: 900px){
  #workflows-container { 
      grid-template-columns: repeat(3, 1fr);
  }
}